<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>20180131 - SQLite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC8C26BC2021C39E001091FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC8C26D52021C39E001091FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC8C26E02021C39E001091FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
